* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.background-image {  
    background-image: url(../img/abstract-atmospheric-atmospheric-evening-1090977.jpg);
    background-size: cover;
    color: #E6FFE7;
}

.transparent-background::before {
    content: '';
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    background: rgba(255,255,255,0.1);
    margin-left: -40%;
}

/* Header */

header .social-links {
    text-align: right;
    padding: 20px 140px;
}

header .social-links a {
    position: relative;
    font-size: 30px;
    padding: 0 10px;
    color: #E6FFE7;
    transition: 0.5s;
}

header .social-links a:hover {
    color: #85A696;
}

header .company-logo i {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

header h1 {
    font-size: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Navigation */

.main-navigation {
    position: sticky;
    top: 0;
    height: 80px;
    margin-bottom: 20px;
}

.main-navigation .main-nav {
    margin-top: 60px;
    text-align: center;
}

.main-navigation .main-nav .nav-menu-item {
    display: inline-block;
}

.main-navigation .main-nav .nav-menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px;
    color: #E6FFE7;
    transition: 0.5s;
}

.main-navigation .main-nav .nav-menu-item a:hover {
    color: #85A696;
}

.main-navigation hr {
    width: 65%;
}

/* Slider */

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}












